<%- include('../partials/header', { title: title }) %>

<article class="static-page">
    <h2><%= title %></h2>
    <p>If you need help with the platform or have any questions, please feel free to reach out.</p>

    <p><strong>For general inquiries or support:</strong></p>
    <p><%= adminContactInfo %></p>

    <p>Please note that this contact is for issues related to the website itself. For inquiries about specific products, please contact the seller directly using the phone number provided on their product listings.</p>
</article>

<%- include('../partials/footer') %>